h1 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Utility classes for modifying display of sections */
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Modified styling for all buttons */
.quiz-btn {
  background-color:#550055;
  color: white;
}

.quiz-btn:hover {
  color: white;
}

/* Initials entry box */
#init-enter {
  font-size: 1.1rem;
  height: 2.1rem;
}

/* Text showing "correct" or "wrong" */
#result-text {
  font-style: italic;
}

/* View High Scores div, acting as psuedo-link */
#view-high-scores {
  font-weight: bold;
  color:#550055;
  cursor:pointer;
}

/* Only change button background color on hover if hover is enabled (i.e. not mobile) */
@media (hover: hover) {
  .quiz-btn:hover {
    background-color: purple;
  }
}