h1 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 600;
}

.quiz-btn {
  background-color:#550055;
  color: white;
}

.quiz-btn:hover {
  color: white;
}

#init-enter {
  font-size: 1.1rem;
  height: 2.1rem;
}

#result-text {
  font-style: italic;
}

#view-high-scores {
  font-weight: bold;
  color:#550055;
  cursor:pointer;
}

/* Only change background color on hover if hover is enabled (i.e. not mobile) */
@media (hover: hover) {
  .quiz-btn:hover {
    background-color: purple;
  }
}